<div class="leftPanel">
    <span class="item">
        <button class="addButton">Add Admin</button>
    </span>
    <span class="item">
        <span>Search By:</span>
    </span>
    <span class="item">
        <label for="byFirstName">First Name</label>
        <input type="text" id="byFirstName" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byLastName">Last Name</label>
        <input type="text" id="byLastName" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byCardNumber">User Name</label>
        <input type="text" id="byCardNumber" class="searchBox">
        <button class="goButton">Go</button>
    </span>
</div><div class="mainPanel">
    <span class="item">
        Results for...'John'
    </span>
    <span class="item">
        <button>Edit</button>
        <button>Delete</button>
    </span>
    <span class="item">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Manage Users</th>
                <th>Manage Devices</th>
                <th>Manage Zones</th>
                <th>Generate Reports</th>
                <th>Manage Backups</th>
                <th>Manage Settings</th>
            </tr>
            <tr class="lightgray selected">
                <td>Adam</td>
                <td>Anderson</td>
                <td>aanderson</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Derrick</td>
                <td>Roberts</td>
                <td>droberts</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr class="lightgray">
                <td>Clarice</td>
                <td>Pattern</td>
                <td>cpattern</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Judy</td>
                <td>Parsons</td>
                <td>jparsons</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr class="lightgray">
                <td>Zoey</td>
                <td>Deschanel</td>
                <td>zdeschanel</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
            </tr>
        </table>
    </span>
</div>