extends layout

block header
    #container
        div.header(ng-controller="HeaderController")
            span.item.logo Administration Console
            span.item.nav
                ul.navbar
                    li(ng-repeat="navbarItem in navbarItems")
                        a.item(href="#/{{navbarItems.name}}")
            span.item.logout Logout

block content

    script(src="js/lib/angular.js")
    script(src="js/app.js")
    script(src="js/controllers/HeaderController.js")
    script(src="js/controllers/UsersController.js")
    script(src="js/controllers/DevicesController.js")
    script(src="js/controllers/ZonesController.js")
    script(src="js/controllers/ReportsController.js")
    script(src="js/controllers/AdminController.js")
    script(src="js/controllers/SettingsController.js")
