<div class="leftPanel">
    <span class="item">
        <button class="addButton">Add Device</button>
    </span>
    <span class="item">
        <span>Search By:</span>
    </span>
    <span class="item">
        <label for="byDeviceAlias">Device Alias</label>
        <input type="text" id="byDeviceAlias" name="byDeviceAlias"
               class="searchBox" />
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byDeviceType">Device Type</label>
        <input type="text" id="byDeviceType" name="byDeviceType"
               class="searchBox" />
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byDeviceHostname">Device Hostname</label>
        <input type="text" id="byDeviceHostname" name="byDeviceHostname"
            class="searchBox" />
        <button class="goButton">Go</button>
    </span>
</div><div class="mainPanel">
    <span class="item">
        Results for...'Door'
    </span>
    <span class="item">
        <button>Edit</button>
        <button>Delete</button>
    </span>
    <span class="item">
        <table>
            <tr>
                <th>Alias</th>
                <th>Type</th>
                <th>Hostname</th>
            </tr>
            <tr class="lightgray">
                <td>Front Door</td>
                <td>RFID</td>
            </tr>
            <tr>
                <td>Music Door</td>
                <td>RFID</td>
            </tr>
            <tr class="lightgray selected">
                <td>Random Door</td>
                <td>RFID</td>
            </tr>
        </table>
    </span>
</div>