<div class="leftPanel">
    <span class="item">
        <button class="addButton">Add Device</button>
    </span>
    <span class="item">
        <span>Search By:</span>
    </span>
    <span class="item">
        <label for="byFirstName">Device Alias</label>
        <input type="text" id="byFirstName" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byLastName">Device Type</label>
        <input type="text" id="byLastName" class="searchBox">
        <button class="goButton">Go</button>
    </span>
</div><div class="mainPanel">
    <span class="item">
        Results for...'Door'
    </span>
    <span class="item">
        <button>Edit</button>
        <button>Delete</button>
    </span>
    <span class="item">
        <table>
            <tr>
                <th>Alias</th>
                <th>Type</th>
            </tr>
            <tr class="lightgray">
                <td>Front Door</td>
                <td>RFID</td>
            </tr>
            <tr>
                <td>Music Door</td>
                <td>RFID</td>
            </tr>
            <tr class="lightgray selected">
                <td>Random Door</td>
                <td>RFID</td>
            </tr>
        </table>
    </span>
</div>