<div class="leftPanel">
    <span class="item">
        <button class="addButton" ng-click="addUser()">Add User</button>
    </span>
    <span class="item">
        <span>Search By:</span>
    </span>
    <span class="item">
        <label for="byFirstName">First Name</label>
        <input type="text" id="byFirstName" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byLastName">Last Name</label>
        <input type="text" id="byLastName" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byCardNumber">Card Number</label>
        <input type="text" id="byCardNumber" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byEmail">Email</label>
        <input type="text" id="byEmail" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byPhoneNumber">Phone Number</label>
        <input type="text" id="byPhoneNumber" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byZone">Zone</label>
        <input type="text" id="byZone" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byDevice">Device</label>
        <input type="text" id="byDevice" class="searchBox">
        <button class="goButton">Go</button>
    </span>
</div><div class="mainPanel">
    <span class="item">
        Results for...'John'
    </span>
    <span class="item">
        <button>Edit</button>
        <button>Delete</button>
    </span>
    <span class="item">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Cards</th>
                <th>Zones</th>
                <th>Devices</th>
            </tr>
            <tr ng-repeat="user in users" class="{{'row' + $index % 2 }}">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.cards}}</td>
                <td>{{user.zones}}</td>
                <td>{{user.devices}}</td>
            </tr>
        </table>
    </span>
</div>