<div class="leftPanel">
    <span class="item">
        <button class="addButton">Add Zone</button>
    </span>
    <span class="item">
        <span>Search By:</span>
    </span>
    <span class="item">
        <label for="byFirstName">Zone Alias</label>
        <input type="text" id="byFirstName" class="searchBox">
        <button class="goButton">Go</button>
    </span>
    <span class="item">
        <label for="byLastName">Device Alias</label>
        <input type="text" id="byLastName" class="searchBox">
        <button class="goButton">Go</button>
    </span>
</div><div class="mainPanel">
    zones
</div>