extends layout

block header

block content
    #container(ng-app="adminConsoleApp")
        div.header(ng-controller="HeaderController")
            span.item.logo Administration Console
            span.item.nav
                ul.navbar
                    li(ng-repeat="navbarItem in navbarItems")
                        a.item(href="#/{{navbarItem.name}}") {{navbarItem.name}}
            span.item.logout Logout
        div.content
            ng-view

block footer
    script(src="js/lib/angular.js")
    script(src="js/app.js")
    script(src="js/controllers/HeaderController.js")
    script(src="js/controllers/UsersController.js")
    script(src="js/controllers/DevicesController.js")
    script(src="js/controllers/ZonesController.js")
    script(src="js/controllers/ReportsController.js")
    script(src="js/controllers/AdminController.js")
    script(src="js/controllers/SettingsController.js")
