extends layout

block header

block content
	div(id='introImage')
	div(id='loginControls')
		form(form action="/login",	 method="post")
			div.loginControl
				label.left(for='username') Username:
				input.right(id='username', name='username', type='text', value='', placeholder='Enter Username')
			div.loginControl
				label.left(for='password') Password:
				input.right(id='password', name='password', type='password', value='', placeholder='Enter Password')
			div.loginControl
				input.right(type='submit',value='Log In')