div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byName") Name
        input.searchBox(type="text", ng-model="name", id="byName")
        button.goButton(ng-click="searchByName()") Go
    span.item
        label(for="byUserName") User Name
        input.searchBox(type="text", ng-model="userName", id="byUserName")
        button.goButton(ng-click="searchByUserName()") Go
div.mainPanel
    span.item
        button(ng-click="addAdmin()", ng-disabled="isAddButtonDisabled") Add
        button(ng-click="editAdmin()", ng-disabled="isEditButtonDisabled") Edit
        button(ng-click="deleteAdmin()", ng-disabled="isDeleteButtonDisabled") Delete
    span.item
        table
            tr
                th Name
                th User Name
                th Manage Users
                th Manage Devices
                th Manage Zones
                th Generate Reports
                th Manage Backups
                th Manage Settings
            tr(ng-repeat="admin in admins", class="{{'row' + $index % 2 }}", ng-click="changeCurrentAdmin($event, $index)")
                td {{admin.name}}
                td {{admin.username}}
                td {{admin.canManageUsers}}
                td {{admin.canManageDevices}}
                td {{admin.canManageZones}}
                td {{admin.canGenerateReports}}
                td {{admin.canManageBackups}}
                td {{admin.canManageSettings}}