div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byName") Name
        input.searchBox(type="text", ng-model="name", id="byName")
        button.goButton(ng-click="searchByName()") Go
    span.item
        label(for="byUserName") User Name
        input.searchBox(type="text", ng-model="userName", id="byUserName")
        button.goButton(ng-click="searchByUserName()") Go
div.mainPanel
    span.item
        button(ng-click="addAdmin()", ng-disabled="isAddButtonDisabled") Add
        button(ng-click="editAdmin()", ng-disabled="isEditButtonDisabled") Edit
        button(ng-click="deleteAdmin()", ng-disabled="isDeleteButtonDisabled") Delete
    span.item
        table
            tr
                th Name
                th User Name
                th Manage Users
                th Manage Devices
                th Manage Zones
                th Generate Reports
                th Manage Cards
                th Manage Settings
            tr(ng-repeat="admin in admins", class="{{'row' + $index % 2 }}", ng-click="changeCurrentAdmin($event, admin._id)")
                td {{admin.name}}
                td {{admin.username}}
                td {{admin.canManageUsers}}
                td {{admin.canManageDevices}}
                td {{admin.canManageZones}}
                td {{admin.canGenerateReports}}
                td {{admin.canManageRFIDs}}
                td {{admin.canManageSettings}}
    span.passwordSection
        h3 Change superAdmin Password
        form(name="form", class="css-form", novalidate)
            label(for="superAdminPassword") New SuperAdmin Password</br>
            input.list(type="password", ng-model="password", id="password", required, validate-password)
            label(for="verifyPassword")</br>Verify Password</br>
            input.list(type="password", ng-model="verifyPassword", id="verifyPassword", required, minlength="8", maxlength="50", password-check="password")
            button.right(ng-disabled="form.$invalid", ng-click="saveNewPassword()", ng-disabled="isPasswordSaveButtonDisabled") Change
            span.item Passwords must be at least 8 characters long, contain at least one uppercase, one lower case, and one numeric key. The special characters '@, - and _ are also permitted'