span.item
	label(for="Name") Name
	input#Name.searchBox(type="text",name="Name",ng-model="currentDevice.name")
span.item
	label(for="Type") Type
	input#Type.searchBox(type="text",name="Type",ng-model="currentDevice.type")
span.item
	label(for="Hostname") Hostname
	input#Hostname.searchBox(type="text",name="Hostname",ng-model="currentDevice.hostname")