span.item
    label(for="Alias") Alias
    input.searchBox(type="text", id="Alias", ng-model="newDevice.alias")
span.item
    label(for="Type") Type
    input.searchBox(type="text", id="Type", ng-model="newDevice.type")
