.leftPanel
	span.item
		span Search By:
	span.item
		label(for="byFirstName") Device Alias
		input#byDeviceAlias.searchBox(type="text",name="byDeviceAlias")
		button.goButton Go
	span.item
		label(for="byDeviceType") Device Type
		input#byDeviceType.searchBox(type="text",name="byDeviceType")
		button.goButton Go
	span.item
		label(for="byDeviceHostname") Device Hostname
		input#byDeviceHostname.searchBox(type="text",name="byDeviceHostname")
		button.goButton Go
.mainPanel
	span.item Results for...
	span.item
		button(ng-click="addDevice()") Add
		button Edit
		button Delete
	span.item
		table
			tr
				th Alias
				th Type
				th Hostname
			tr(ng-repeat="device in devices", class="{{'row' + $index % 3 }}")
				td {{device.name}}
				td {{device.type}}
				td {{device.hostname}}
