div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byFirstName") Device Alias
        input.searchBox(type="text", id="byDeviceAlias")
        button.goButton Go
    span.item
        label(for="byDeviceType") Device Alias
        input.searchBox(type="text", id="byDeviceType")
        button.goButton Go
div.mainPanel
    span.item Results for...
    span.item
        button(ng-click="addDevice()") Add
        button Edit
        button Delete
    span.item
        table
            tr
                th Alias
                th Type
            tr(ng-repeat="device in devices", class="{{'row' + $index % 2 }}")
                td {{device.alias}}
                td {{device.type}}