#popup(ng-controller="PopupController")
    div.mask
    div.content
        div.window
            div.windowHeader
            div.windowContent
            div.windowFooter
                button(ng-click="saveData()") Save
                button(ng-click="hidePopup()") Cancel