div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byCardNumber") Card Number
        input#byCardNumber.searchBox(type="text", data-ng-model="rfid", name="byCardNumber")
    span.item
        label(for="byDevice") Device
        input#byDevice.searchBox(type="text", data-ng-model="dev", name="byDevice")
    span.item
        label(for="byCardHolder") User
        input#byCardHolder.searchBox(type="text", data-ng-model="who", name="byCardHolder")
    span.item
        label(for="byFromDate") From
        input#byFromDate.searchBox.date-picker(type="input", data-ng-model="from", name="byFromDate", value="Today")
    span.item
        label(for="byToDate") To
        input#byToDate.searchBox.date-picker(type="input", data-ng-model="to", name="byToDate")
    span.item
        button(data-ng-click="updateReport()") Generate Report
div.mainPanel
    span.item
        table
            tr
                th Date
                th Time
                th Status
                th Device
                th Hostname
                th User
                th RFID
            tr(data-ng-repeat="event in events", class="{{'row' + $index % 2 }}", data-ng-click="changeCurrentDevice($ev, $index)")
                td {{event.entryTime | date:'yyyy-MM-dd'}}
                td {{event.entryTime | date:'HH:mm:ss'}}
                td {{event.status}}
                td {{event.device}}
                td {{event.hostname}}
                td {{event.cardHolder}}
                td {{event.rfid}}
