div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byCardNumber") Card Number
        input#byCardNumber.searchBox(type="text", ng-model="rfid", name="byCardNumber")
    span.item
        label(for="byDevice") Device
        input#byDevice.searchBox(type="text", ng-model="dev", name="byDevice")
    span.item
        label(for="byCardHolder") User
        input#byCardHolder.searchBox(type="text", ng-model="who", name="byCardHolder")
    span.item
        label(for="byFromDate") From
        input#byFromDate.searchBox(type="text", ng-model="from", name="byFromDate")
    span.item
        label(for="byToDate") To
        input#byToDate.searchBox(type="text", ng-model="to", name="byToDate")
    span.item
        button.goButton(ng-click="updateReport()") Generate Report
div.mainPanel
    span.item
        table
            tr
                th Time
                th Status
                th Device
                th Hostname
                th User
                th RFID
            tr(ng-repeat="event in events", class="{{'row' + $index % 2 }}", ng-click="changeCurrentDevice($ev, $index)")
                td {{event.entryTime}}
                td {{event.status}}
                td {{event.device}}
                td {{event.hostname}}
                td {{event.cardHolder}}
                td {{event.rfid}}
