div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byCardNumber") Card Number
        input.searchBox(type="text", id="byCardNumber")
    span.item
        label(for="byDevice") Device
        input.searchBox(type="text", id="byDevice")
    span.item
        label(for="byFromDate") From
        input.searchBox(type="text", id="byFromDate")
    span.item
        label(for="byToDate") To
        input.searchBox(type="text", id="byToDate")
    span.item
        button Generate Report
div.mainPanel
