form(name="form", class="css-form", novalidate)
    span.item
        label(for="cardNumber") Card Number
        input.searchBox(type="text", id="cardNumber", ng-model="currentRFID.rfidNo", required, validate-card)
    span.item
        label(for="status") Status
        select(id="status", ng-model="currentRFID.status", ng-disabled="currentRFID.isNewCard")
            option active
            option inactive
    button(ng-disabled="form.$invalid", ng-click="saveData()") Save
    button(ng-click="hidePopup()") Cancel