div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byCarNumber") Card Number
        input.searchBox(type="text", id="byCarNumber")
        button.goButton Go
    span.item
        label(for="byStatus") Status
        input.searchBox(type="text", id="byStatus")
        button.goButton Go
div.mainPanel
    span.item Results for...
    span.item
        button(ng-click="addRfid()") Add
        button Edit
        button Delete
    span.item
        table
            tr
                th Card Number
                th Status
            tr(ng-repeat="rfid in rfids", class="{{'row' + $index % 2 }}")
                td {{rfid.rfidNo}}
                td {{rfid.status}}
