.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byCardNumber") Card Number
        input.searchBox(type="text", ng-model="rfidNo", id="byCardNumber")
        button.goButton(ng-click="searchByRFIDNo()") Go
    span.item
        label(for="byStatus") Status
        select(ng-model="status")
            option active
            option inactive
        button.goButton(ng-click="searchByRFIDStatus()") Go
.mainPanel
    span.item
        button(ng-click="addRFID()", ng-disabled="isAddButtonDisabled") Add
        button(ng-click="editRFID()", ng-disabled="isEditButtonDisabled") Edit
        button(ng-click="deleteRFID()", ng-disabled="isDeleteButtonDisabled") Delete
    span.item
        table
            tr
                th Card Number
                th Status
            tr(ng-repeat="rfid in rfids", class="{{'row' + $index % 2 }}", ng-click="changeCurrentRFID($event, $index)")
                td {{rfid.rfidNo}}
                td {{rfid.status}}
