span.item
    label(for="cardNumber") Card Number
    input.searchBox(type="text", id="cardNumber", ng-model="newRfid.rfidNo")
span.item
    label(for="status") Type
    input.searchBox(type="text", id="status", ng-model="newRfid.status")