span.item
    label(for="FirstName") First Name
    input.searchBox(type="text", id="FirstName")
    span.item
        label(for="LastName") Last Name
        input.searchBox(type="text", id="LastName")
    span.item
        label(for="CardNumber") Card Number
        input.searchBox(type="text", id="CardNumber")
    span.item
        label(for="Email") Email
        input.searchBox(type="text", id="Email")
    span.item
        label(for="PhoneNumber") Phone Number
        input.searchBox(type="text", id="PhoneNumber")
    span.item
        label(for="Zone") Zone
        input.searchBox(type="text", id="Zone")
    span.item
        label(for="Device") Device
        input.searchBox(type="text", id="Device")