div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byFirstName") First Name
        input.searchBox(type="text", id="byFirstName")
        button.goButton Go
    span.item
        label(for="byLastName") Last Name
        input.searchBox(type="text", id="byLastName")
        button.goButton Go
    span.item
        label(for="byCardNumber") Card Number
        input.searchBox(type="text", id="byCardNumber")
        button.goButton Go
    span.item
        label(for="byEmail") Email
        input.searchBox(type="text", id="byEmail")
        button.goButton Go
    span.item
        label(for="byCardNumber") Phone Number
        input.searchBox(type="text", id="byPhoneNumber")
        button.goButton Go
    span.item
        label(for="byZone") Zone
        input.searchBox(type="text", id="byZone")
        button.goButton Go
div.mainPanel
    span.item Results for...
    span.item
        button(ng-click="addUser()") Add
        button(ng-click="editUser()") Edit
        button(ng-click="deleteUser()") Delete
    span.item
        table(cellspacing="0")
            tr
                th First Name
                th Last Name
                th Email
                th Phone
                th Cards
                th Zones
            tr(ng-repeat="user in users", class="{{'row' + $index % 2 }}", ng-click="changeCurrentUser($event, $index)")
                td {{user.first}}
                td {{user.last}}
                td {{user.email}}
                td {{user.phone}}
                td 
                    div(ng-repeat="card in user.cards"){{card.rfidNo}}
                td 
                    div(ng-repeat="zone in user.zones"){{zone.name}}