div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byFirstName") First Name
        input.searchBox(type="text", ng-model="first", id="byFirstName")
        button.goButton(ng-click="searchByFirstName()") Go
    span.item
        label(for="byLastName") Last Name
        input.searchBox(type="text", ng-model="last", id="byLastName")
        button.goButton(ng-click="searchByLastName()") Go
    span.item
        label(for="byCardNumber") Card Number
        input.searchBox(type="text", id="byCardNumber")
        button.goButton Go
    span.item
        label(for="byEmail") Email
        input.searchBox(type="text", ng-model="email", id="byEmail")
        button.goButton(ng-click="searchByEmail()") Go
    span.item
        label(for="byCardNumber") Phone Number
        input.searchBox(type="text", ng-model="phone", id="byPhoneNumber")
        button.goButton(ng-click="searchByPhone()") Go
    span.item
        label(for="byZone") Zone
        select(id="byZone", ng-model="zone", ng-options="z as z.name for z in zones")
        button.goButton(ng-click="searchByZone()") Go
div.mainPanel
    span.item
        button(ng-click="addUser()", ng-disabled="isAddButtonDisabled") Add
        button(ng-click="editUser()", ng-disabled="isEditButtonDisabled") Edit
        button(ng-click="deleteUser()", ng-disabled="isDeleteButtonDisabled") Delete
    span.item
        table(cellspacing="0")
            tr
                th First Name
                th Last Name
                th Email
                th Phone
                th Cards
                th Zones
            tr(ng-repeat="user in users | orderBy:['first', 'last']", class="{{'row' + $index % 2 }}", ng-click="changeCurrentUser($event, user._id)")
                td {{user.first}}
                td {{user.last}}
                td {{user.email}}
                td {{user.phone}}
                td 
                    div(ng-repeat="card in user.cards"){{card.rfidNo}}
                td
                    div(ng-repeat="zone in user.zones"){{zone.name}}