span.item
    label(for="FirstName") First Name
    input.searchBox(type="text", id="first", ng-model="newUser.first")
span.item
    label(for="LastName") Last Name
    input.searchBox(type="text", id="last", ng-model="newUser.last")
span.item
    label(for="CardNumber") Card Number
    input.searchBox(type="text", id="CardNumber", ng-model="newUser.cards")
span.item
    label(for="Email") Email
    input.searchBox(type="text", id="email", ng-model="newUser.email")
span.item
    label(for="PhoneNumber") Phone Number
    input.searchBox(type="text", id="phone", ng-model="newUser.phone")
span.item
    label(for="Zone") Zone
    select(id = "zone", ng-model="newUser.zone")
        option(ng-repeat="zone in zones", value = "{{zone.id}}"){{zone.name}}
