span.item
    label(for="FirstName") First Name
    input.searchBox(type="text", id="FirstName", ng-model="newUser.firstName")
    span.item
        label(for="LastName") Last Name
        input.searchBox(type="text", id="LastName", ng-model="newUser.lastName")
    span.item
        label(for="CardNumber") Card Number
        input.searchBox(type="text", id="CardNumber", ng-model="newUser.cards")
    span.item
        label(for="Email") Email
        input.searchBox(type="text", id="Email", ng-model="newUser.email")
    span.item
        label(for="PhoneNumber") Phone Number
        input.searchBox(type="text", id="PhoneNumber", ng-model="newUser.phoneNumber")
    span.item
        label(for="Zone") Zone
        input.searchBox(type="text", id="Zone", ng-model="newUser.zones")
    span.item
        label(for="Device") Device
        input.searchBox(type="text", id="Device", ng-model="newUser.devices")