span.item
    label(for="first") First Name
    input.searchBox(type="text", id="first", ng-model="currentUser.first")
span.item
    label(for="last") Last Name
    input.searchBox(type="text", id="last", ng-model="currentUser.last")
span.item
    label(for="CardNumber") Card Number
    input.searchBox(type="text", id="CardNumber", ng-model="currentUser.cards")
span.item
    label(for="email") Email
    input.searchBox(type="text", id="email", ng-model="currentUser.email")
span.item
    label(for="phone") Phone Number
    input.searchBox(type="text", id="phone", ng-model="currentUser.phone")
span.item
    label(for="Zones") Zone
    select(id="byZone", ng-model="currentUser.zone", ng-options="z as z.name for z in zones")
    