div.leftPanel
    span.item
        span Search By:
    span.item
        label(for="byZoneAlias") Zone Alias
        input.searchBox(type="text", ng-model="alias", id="byZoneAlias")
        button.goButton(ng-click="searchByZoneAlias()") Go
    span.item
        label(for="byDevice") Device
        select(id="byDevice", ng-model="device", ng-options="d as d.name for d in devices")
        button.goButton(ng-click="searchByDevice()") Go
div.mainPanel
    span.item Results for...
    span.item
        button(ng-click="addZone()") Add
        button(ng-click="editZone()") Edit
        button(ng-click="deleteZone()") Delete
    span.item
        table
            tr
                th Alias
                th Devices
            tr(ng-repeat="zone in zones", class="{{'row' + $index % 2 }}", ng-click="changeCurrentZone($event, $index)")
                td {{zone.name}}
                td 
                    div(ng-repeat="device in zone.devices"){{device.name}}