span.item
    label(for="Alias") Alias
    input.searchBox(type="text", id="Alias", ng-model="currentZone.alias")
span.item
    label(for="Devices") Devices
    input.searchBox(type="text", id="Devices", ng-model="currentZone.device")
